
<section class="section-div">
    <a name="about"></a>
    <h3 class="section-title">About</h3>
    <p>
        I'm a software engineer. My areas of interest are web design and engineering, secure protocols and defensive security. I strongly believe that a person is much more than a job title, so in case you're wondering what exactly do I do, please feel free to visit my blog or write to me. 
    </p>

    <p>
        My blog is at <a href="{{ site.blog_url }}">nagekar.com</a> and some of my work is showcased on <a href="https://github.com/{{ site.github_username }}">Github</a>. My email address is <a href="mailto:{{ site.email }}">abhishek@nagekar.com</a>
    </p>
</section>
