<section class="section about" id="about">
    <div class="section-heading" id="about-text"></div>
    <p class="paragraph-text">
        I like working with computers. It's my hobby and my profession. I love the Internet and the way it works, and I am comfortable working on web applications, frontend and backend. I've worked on smartphone apps, both native and hybrid, and I have experience with Linux system administration. An organic interest in exploring computers meant that I have never had to force myself into learning a new technology or framework. 
    </p>
    <p class="paragraph-text">
        I have 3 years of experience building web applications. My first website went live in 2010. I've been a Linux user for almost 7 years now. My interests in infosec predate my interest in Web and Linux, but for the most part it was, and still is, a hobby. 
    </p>
    <p class="paragraph-text">
        My role models include old-school programmers and hackers who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
    </p>
</section>
