<section>
    <h3 class="section-title">Featured Blog Posts</h3>
    <ul>
        <li><a href="https://www.nagekar.com/2017/02/trip-to-bramhatal-uttarakhand.html">Trek To Bramhatal (Uttarakhand)</a></li>
        <li><a href="https://www.nagekar.com/2017/08/privacy.html">Privacy - How I Converted</a></li>
        <li><a href="https://www.nagekar.com/2018/01/jagriti-yatra.html">Jagriti Yatra 2017</a></li>
        <li><a href="https://www.nagekar.com/2017/08/private-cloud-part-2.html">Private Cloud Part 2 | Encrypted Storage With NextCloud</a></li>
        <li><a href="https://www.nagekar.com/2018/07/eli5-how-https-works.html">ELI5 - How HTTPS Works</a></li>
        <li><a href="https://www.nagekar.com">Visit the blog for more posts</a></li>
    </ul>
</section>