<section>
    <h3>Featured Blog Posts</h3>
    <div>
        <a href="https://www.nagekar.com/2017/02/trip-to-bramhatal-uttarakhand.html">Trek To Bramhatal (Uttarakhand)</a>
        <a href="https://www.nagekar.com/2017/08/privacy.html">Privacy - How I Converted</a>
        <a href="https://www.nagekar.com/2018/01/jagriti-yatra.html">Jagriti Yatra 2017</a>
        <a href="https://www.nagekar.com/2017/08/private-cloud-part-2.html">Private Cloud Part 2 | Encrypted Storage With NextCloud</a>
        <a href="https://www.nagekar.com/2018/07/eli5-how-https-works.html">ELI5 - How HTTPS Works</a>
        <a href=""></a>
    </div>
</section>