<section class="section-div">
    <a name="blogs"></a>
    <h3 class="section-title">Featured Blog Posts</h3>
    <ul class="blogs-list">
        <li><a href="https://www.nagekar.com/2017/02/trip-to-bramhatal-uttarakhand.html">Trek To Bramhatal (Uttarakhand)</a><br/>About my trip to the mighty Himalayas</li>
        <li>
            <a href="https://www.nagekar.com/2017/08/privacy.html">Privacy - How I Converted</a>
            <br/>
            How my beliefs changed with regards to internet privacy
        </li>
        <li>
            <a href="https://www.nagekar.com/2018/01/jagriti-yatra.html">Jagriti Yatra 2017</a>
            <br/>
            A journey through the rural india, all about meeting some extraordinary role models and making good friends
        </li>
        <li>
            <a href="https://www.nagekar.com/2017/08/private-cloud-part-2.html">Private Cloud Part 2 | Encrypted Storage With NextCloud</a>
            <br/>
            My adventures with a Raspberry Pi, spare hard disk and some spare some
        </li>
        <li>
            <a href="https://www.nagekar.com/2018/07/eli5-how-https-works.html">ELI5 - How HTTPS Works</a>
            <br/>
            An attempt to better understand the protocol which we know from the green lock in our browser's address bar
        </li>
        <li><a href="https://www.nagekar.com">Visit <b>nagekar.com</b> for more posts</a></li>
    </ul>
</section>