<section class="section experience" id="experience">
    <div class="section-heading" id="experience-text"></div>

    <div class="experience-title pt-sans-font">Frontend Engineer</div>
    <div class="experience-details pt-sans-font">
        <i>LaughGuru.com</i><span class="experience-date">Sep 2017 - Current</span>
    </div>
    <p class="paragraph-text">
        <!-- Built the frontend of the main product plus internal tools. Completely took over product frontend three months in. -->
        <ul class="paragraph-text">
            <li>Worked with ReactJS and other tools to build a beautiful progressive web app.</li>
            <li>Designed interactive UIs based on the designs and guidelines from product designers.</li>
            <li>Optimized the product's frontend to bring load times down (with caching and code optimizations) and enhance user experience.</li>
        </ul>
    </p>
    <!-- <p class="paragraph-text">
        <b>Learnings:</b> Taking responsibility for product features, frontend (React, Redux), frontend design (CSS3, Styled Components), browser side persistent storage (PouchDB), caching (service workers).
    </p> -->
    <br/><br/>
    <div class="experience-title pt-sans-font">Software Engineering Intern</div>
    <div class="experience-details pt-sans-font">
        <i>Fourthlion Technologies</i><span class="experience-date">Jun 2016 - Nov 2016</span>
    </div>
    <p class="paragraph-text">
        <!-- Realized many ideas from on-field teams into hybrid Android &amp; iOS apps. -->
        <ul class="paragraph-text">
            <li>Rapid prototyping of ideas from the on-field teams, from ideas to deliverable MVPs (Android &amp; iOS apps) in a matter of days for Ashoka University (Delhi) and Haryana State Government.</li>
            <li>DevOps &amp; maintenance of the Django project dashboards used by state officials from Himachal Pradesh Education Board</li>
        </ul>
    </p>
    <!-- <p class="paragraph-text">
        <b>Learnings:</b> Technical and business communication, mobile apps (Phonegap, Ionic/Angular), deploying to app stores (Android &amp; iOS), backend (Django) and database (MySQL).
    </p> -->
</section>