<section class="section experience" id="experience">
    <div>
        <div class="section-heading" id="experience-text">Professional Experience</div>

        <div class="experience-title pt-sans-font">Frontend Engineer</div>
        <div class="experience-details pt-sans-font">
            LaughGuru<span class="experience-date">September 2017 - Present</span>
        </div>
        <p class="paragraph-text">
            <ul class="paragraph-text">
                <li>Worked with ReactJS and other tools to build a beautiful progressive web app.</li>
                <li>Designed interactive UIs based on the designs and guidelines from product designers.</li>
                <li>Optimized the product's frontend to bring load times down (with caching and code optimizations) and enhance user experience.</li>
            </ul>
        </p>
        <br/><br/>
        <div class="experience-title pt-sans-font">Software Engineering Intern</div>
        <div class="experience-details pt-sans-font">
            Fourthlion Technologies<span class="experience-date">June 2016 - November 2016</span>
        </div>
        <p class="paragraph-text">
            <ul class="paragraph-text">
                <li>Rapid prototyping of ideas from the on-field teams, from ideas to deliverable MVPs (Android &amp; iOS apps) in a matter of days for Ashoka University (Delhi) and Haryana State Government.</li>
                <li>DevOps &amp; maintenance of the Django project dashboards used by state officials from Himachal Pradesh Education Board.</li>
            </ul>
        </p>
    </div>
</section>