<section class="section experience" id="experience">
    <div class="section-heading" id="experience-text"></div>

    <div class="experience-title">Frontend Engineer</div>
    <div class="experience-details">
        <i>LaughGuru</i><span style="float: right">Sep 2017 - Current</span>
    </div>
    <p class="paragraph-text">
        Built the frontend of the main product plus internal tools. Completely took over product frontend three months in.
        <ul class="paragraph-text">
            <li>Built a media heavy interactive PWA towards the product's major revamp</li>
            <li>
                Contributed towards optimizing the web app, made it offline first, aggressive caching with service workers and  brought down the load times by several folds
            </li>
        </ul>
    </p>
    <p class="paragraph-text">
        <b>Learnings:</b> Taking responsibility for product features, frontend (React, Redux), frontend design (CSS3, Styled Components), browser side persistent storage (PouchDB), caching (service workers).
    </p>
    <br/><br/>
    <div class="experience-title">Software Engineering Intern</div>
    <div class="experience-details">
        <i>Fourthlion Technologies</i><span style="float: right">Jun 2016 - Nov 2016</span>
    </div>
    <p class="paragraph-text">Realized many ideas from on-field teams into apps/mvps that could be demoed
        <ul class="paragraph-text">
            <li>Rapid prototyping of ideas from the field teams. Development of hybrid android/iOS applications</li>
            <li>
                DevOps &amp; maintenance of the Django project dashboards used by State officials from Himachal Pradesh Education Board
            </li>
        </ul>
    </p>
    <p class="paragraph-text">
        <b>Learnings:</b> Technical and business communication, mobile apps (Phonegap, Ionic/Angular), deploying to app stores (Android &amp; iOS), backend (Django) and database (MySQL).
    </p>
</section>