<section class="section extra" id="extra">
    <div>
        <div class="section-heading" id="chat-text">Let's Chat</div>
        <p class="paragraph-text">
            I'd love to hear from you! I'm open to collaborations, especially on open source projects. Interesting work opportunity? Shoot. Just want to have a coffee and talk about stars, cars or Pokemon? Awesome. 
        </p>
        <p class="paragraph-text">
            Please feel free to write to me for anything: <a href="mailto:abhishek@nagekar.com">abhishek@nagekar.com</a> (<a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc">PGP Key</a>). It might take me a day to get back, but rest assured, you'll hear from me.
        </p>
        <p class="paragraph-text">
            Also, I occasionally write on my blog at <a href="https://www.nagekar.com">nagekar.com</a>. My latest resume is available here: <a href="https://www.nagekar.com/resume/resume.pdf">pdf</a>, <a href="https://www.nagekar.com/resume/resume.docx">docx</a>
        </p>
    </div>
</section>