<section>
    <h3>Contact</h3>
    <p>
        I'd love to hear from you! I'm open to collaborations, especially on open source projects. Interesting work opportunity? Shoot. Just want to have a coffee and talk about stars, cars or Pokémon? Awesome. 
    </p>
    <p>
        Please feel free to write to me for anything: <a href="mailto:{{ site.email }}">{{ site.email }}</a> (<a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc">PGP Key</a>). It might take me a day to get back, but rest assured, you'll hear from me.
    </p>
    <p>
        My resume is available here: <a href="{{ site.blog_url }}/resume/resume.pdf">PDF</a>, <a href="{{ site.blog_url }}/resume/resume.docx">DOC</a>
    </p>
    <div>
        <span class="hint--bottom bottom-link" aria-label="Email">
            <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
        </span>
        <span class="hint--bottom bottom-link" aria-label="PGP Key">
            <a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc"><i class="head-icon fas fa-key"></i></a>
        </span>
        <span class="hint--bottom bottom-link" aria-label="GitHub">
            <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
        </span>
        <span class="hint--bottom bottom-link" aria-label="Web Blog">
            <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
        </span>
        <span class="hint--bottom bottom-link" aria-label="Keybase">
            <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
        </span>
    </div>
</section>