<head>
    <title>@abhn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/css/normalize.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="vendor/css/hint.base.min.css"/>
    <link rel="stylesheet" href="vendor/css/semi-transparent-buttons.css"/>
    <link rel="stylesheet" href="assets/css/radial-progress.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/card.css"/>
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <meta name="description" content="Portfolio - Abhishek Nagekar | Full stack web development, open source and information security">
</head>