
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="head-name head-title" id="head-name">Abhishek Nagekar</div>
        <div class="head-punchline">Web &amp; Security Engineer.</div>
        <div class="head-buttons">
            <span class="hint--bottom" aria-label="Github">
                <a href="https://github.com/abhn"><i class="head-icon fab fa-github"></i></a>
            </span>
            <span class="hint--bottom" aria-label="Web Blog">
                <a href="https://www.nagekar.com"><i class="head-icon fas fa-rss"></i></a>
            </span>
            <span class="hint--bottom extra-link" aria-label="Email">
                <a href="#extra"><i class="head-icon fas fa-at"></i></a>
            </span>
        </div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about">ABOUT</a>
            <a class="semi-transparent-button with-border nav-links" href="#experience">WORK</a>
            <a class="semi-transparent-button with-border nav-links" href="#skills">SKILLS</a>
            <a class="semi-transparent-button with-border nav-links" href="#projects">PROJECTS</a>
            <!-- <a class="semi-transparent-button with-border nav-links" href="#blog-posts">Blogs</a> -->
            <!-- <a class="semi-transparent-button with-border nav-links" href="#extra">Contact</a> -->
        </div>
    </div>
</section>
