<section>
    <h3 class="section-title">Featured Projects</h3>
    
    <div>
        <a class="project-link" id="featured" onclick="selected('featured')">Featured</a>
        <a class="project-link" id="all" onclick="selected('all')">All</a>
        <a class="project-link" id="webdev" onclick="selected('webdev')">WebDev</a>
        <a class="project-link" id="native" onclick="selected('native')">Native</a>
        <a class="project-link" id="security" onclick="selected('security')">Security</a>
        <a class="project-link" id="diy" onclick="selected('diy')">DIY</a>
    </div>
    
    <div id="projects-wrapper"></div>
</section>