<section class="section-div">
    <a name="skills"></a>
    <h3 class="section-title">Skills</h3>

    <div class="skills-grid">
        <div class="skills-sub-section">
            <h4 class="center-align">Summary</h4>
            <p>
                I'm a web engineer fluent in modern web development. I have a serious passion for engineering solutions
                using the internet. InfoSec guy, blue team.  
            </p>
            <p>
                Let's build a beautiful, speedy and safe web together.
            </p>
        </div>
        <div>
            <h4 class="center-align">Technical</h4>
            <div class="skills-sub-section">
                <div>
                    <b>Programming</b> <br/>Javascript (expert), Python (good)
                </div>
                <div>
                    <b>Frameworks</b> <br/>ReactJS (expert), Redux (expert), Flask (good)
                </div>
                <div>
                    <b>UI &amp; Design</b> <br/>HTML5/CSS3
                </div>
                <div>
                    <b>Miscellaneous</b> <br/>Software design, architecture and best practices, web security, applied cryptography, web protocols etc
                </div>
            </div>
        </div>
    </div>
</section>