<section class="section skills" id="skills">
    <div>
        <div class="section-heading" id="skills-text">Skills</div>

        <div class="skills-grid">
            <div class="what-i-do">
                <h3 class="center-align">In a nutshell</h3>
                <p class="paragraph-text center-align">
                    I'm a web engineer working fluent in modern web development, frontend and backend alike. I have a serious passion for engineering the web. Infosec guy, blue team. Let's build a beautiful, speedy and safe web together.
                </p>
            </div>
            <div class="technical-skills">
                <h3 class="center-align">Technical</h3>
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title" style="background: #DAB92D;"><span>Javascript</span></div>
                    <div class="skillbar-bar" style="background: #FFD83A;"></div>
                    <div class="skill-bar-percent">90%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title" style="background: #61DAFB;"><span>ReactJS</span></div>
                    <div class="skillbar-bar" style="background: #83e4fc;"></div>
                    <div class="skill-bar-percent">85%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: rgb(85, 85, 85);"><span>GNU/Linux</span></div>
                    <div class="skillbar-bar" style="background: rgb(121, 121, 121);"></div>
                    <div class="skill-bar-percent">80%</div>
                </div> <!-- End Skill Bar -->

                
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">75%</div>
                </div> <!-- End Skill Bar -->
                
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #3571A3;"><span>Python</span></div>
                    <div class="skillbar-bar" style="background: #68849b;"></div>
                    <div class="skill-bar-percent">75%</div>
                </div> <!-- End Skill Bar -->
                
                <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title" style="background: rgb(31, 31, 31);"><span>Flask</span></div>
                    <div class="skillbar-bar" style="background: #636363;"></div>
                    <div class="skill-bar-percent">70%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title" style="background: rgb(150, 0, 196);"><span>Infosec</span></div>
                    <div class="skillbar-bar" style="background: rgb(153, 79, 153);"></div>
                    <div class="skill-bar-percent">70%</div>
                </div> <!-- End Skill Bar -->
            </div>
        </div>
    </div>
</section>