@font-face {
  font-family: 'Marvin Visions';
  src: url('../fonts/MarvinVisions-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MarvinVisions-Bold.woff') format('woff') /* Pretty Modern Browsers */
}

body {
  min-width: 360px;
}

.head {

  color: #fff;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: #444;
}

.head-title {
  display: inline-block;
  transition: color ease-in-out 0.3s;
  font-size: 4rem;
}

.head-title:hover {
  color: #08fdd8;
}

.head-name span {
  font-family: 'Marvin Visions', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.head-punchline {
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  color: #eadfc1;
  margin-top: 10px;
}

.head-buttons {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.head-icon {
  font-size: 2rem;  
  margin: 0 5px;
}

.head-buttons a {
  color: inherit;
}

.head-title-split {
  display: inline-block;
}

.head-title-split.fname {
  /* color: #eb7991; */
  color: #96858f;
}

.head-title-split.lname {
  /* color: #ffd420; */
  color: #6d7993;
}

.head-menu-wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);

  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 10px;
  
  margin: 0 auto;
}

.section-heading {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  max-width: 100%;
}

.section {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px 10px;
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Marvin Visions', Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

.nav-links {
  font-family: 'Courier New', Courier, monospace;
}

.section-wrapper {
  background-color: #eee;
}

.paragraph-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: 30px auto;
}

.skill-grid-item {
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-grid-item:hover {
  opacity: 0.7;
}

.projects-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  justify-content: space-evenly;
}

.footer {
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  color: #fff;
}

.footer-text a {
  color: inherit;
}

.technologies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(96.6666px, 1fr));
  justify-items: center;
}

.technologies-grid-item {
  width: 96.6666px;
  height: 96.6666px;
  background-color: #fff;
}

.project-card {
  padding: 10px;
  transition: all ease-in-out 0.3s;
}

.project-card:hover {
  background-color: #eee;
}

.project-title {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: Arial, sans-serif;
  margin: 10px 0 20px;
}

.project-link {
  margin: 10px 0;
  float: right;
  font-weight: 500;
  font-size: 1rem;
}

.project-tags {
  margin: 20px 0;
}

.project-tag-item {
  background-color: #444;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.project-description {

}

.post-date {
  float: right;
}

.blog-item {
  padding: 10px;
  transition: all ease-in-out 0.3s;
}

.blog-item:hover {
  background-color: #eee;
}

.blog-title {
  font-size: 1.1rem;
  color: inherit;
}

.more-blogs {
  font-size: 1rem;
  margin: 15px 0 20px;
}

.slightly-smaller-text {
  font-size: 0.9rem;
}

@media screen and (max-width: 850px) {
  .head-menu-wrap {
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

/* Here follow all the media queries */
@media screen and (max-width: 600px) {
  .head-title-split {
    display: block;
  }
  
  .head-title-split {
    text-align: center;
  }

  .skills-grid {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }

  .set-size {
    font-size: 8em;
  }
  .pie-wrapper .label {
    font-size: 0.9rem;
    top: 3rem;
  }
  
  .projects-grid {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 400px) {
  .head-menu-wrap {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}