body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.top-nav {
  text-align: center;
}

.circular-image {
  float: left;
}

.intro-description {
  float: right;
}

.profile-pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  border: solid 2px white;
}

.intro-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.intro-wrapper::after {
  content: "";
  clear: both;
  display: block;
}

.section-title {
  text-align: center;
}

/* project card */

.project-link {
  color: #fff;
  background: #333;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

#project-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 350px;
}


/* project card */

/* skills */

.skills-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* skills */


@media screen and (max-width: 600px) {
  .skills-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }  
}