/* global */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
}

.section-div {
  margin-top: 100px;
}

/* global */

/* nav */

.top-nav {
  margin-top: 10px;
  text-align: center;
}

/* nav */

/* intro */

.intro-wrapper {
  min-height: 500px;
  height: 100%;
  max-width: 300px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circular-image {
}

.intro-description {
  text-align: center;
}

.intro-title-name {
  margin-bottom: 10px;
}

.profile-pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  border: solid 2px white;
}


/* intro */


/* skills */

h4.center-align {
  text-align: center;
}

.skills-sub-section {
  margin: 0 auto;
}

/* skills */


/* project card */

.project-link {
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

#project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-links {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  max-width: 350px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 7px;
}

.card {
  padding: 5px;
}

.card-image-div {
  height: 180px;
  overflow-y: hidden;
}

.project-technology {
  margin-right: 5px;
  padding: 5px;
  background-color: #eee;
}

/* project card */

/* skills */

.skills-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* skills */


/* blogs */

ul.blogs-list {
  list-style: none;
  padding-left: 0px;
}

ul.blogs-list li {
  margin: 10px 0;
}

/* blogs */

footer.footer {
  margin-top: 50px;
  background-color: #eee;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 600px) {
  .skills-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }  
}