@font-face {
  font-family: 'Marvin Visions';
  src: url('../fonts/MarvinVisions-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MarvinVisions-Bold.woff') format('woff') /* Pretty Modern Browsers */
}

.head {

  color: #fff;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #444;
}

.head-title {
  display: inline-block;
  transition: color ease-in-out 0.25s;
  font-size: 4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head-title:hover {
  color: #08fdd8;
}

.head-name span {
  font-family: 'Marvin Visions', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.head-punchline {
  font-family: 'Courier New', Courier, monospace;
  text-align: right;

}

.head-buttons {
  margin-top: 30px;
  width: 100%; 
  display: flex;
  justify-content: center;
}

.head-icon {
  font-size: 2rem;
  margin: 0 10px;
}

.head-buttons a {
  color: inherit;
}