@font-face {
  font-family: 'Marvin Visions';
  src: url('../fonts/MarvinVisions-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MarvinVisions-Bold.woff') format('woff') /* Pretty Modern Browsers */
}

.head {

  color: #fff;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: #444;
}

.head-title {
  display: inline-block;
  transition: color ease-in-out 0.25s;
  font-size: 4rem;
}

.head-title:hover {
  color: #08fdd8;
}

.head-name span {
  font-family: 'Marvin Visions', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.head-punchline {
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  color: #eadfc1;
  margin-top: 10px;
}

.head-buttons {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.head-icon {
  font-size: 2rem;  
  margin: 0 5px;
}

.head-buttons a {
  color: inherit;
}

.head-title-split {
  display: inline-block;
}

.head-title-split.fname {
  color: #e74769;
}

.head-title-split.lname {
  color: #ffd420;
}

.head-menu-wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  
  margin: 0 auto;
}

.section-heading {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));

}

.section {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Marvin Visions', Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

.nav-links {
  font-family: 'Courier New', Courier, monospace;
}

.section-wrapper {
  background-color: #eee;
}

/* Here follow all the media queries */
@media screen and (max-width: 600px) {
  .head-title-split {
    display: block;
  }
  
  .head-title-split {
    text-align: center;
  }

  .head-menu-wrap {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .skills-grid {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }
}
